.bg
{
    background-image: linear-gradient(to bottom, rgb(230, 40, 112), #a8a4a4);

}
.bg-w
{
    background-color:rgb(255, 255, 255);
    border-bottom: 1px,rgb(255, 255, 255);
}
.bg-h
{   
    height: 114px;
    background-image: linear-gradient(to bottom, rgb(7, 0, 107), #000000);
    font-weight: bold;
    font-size: larger;
    padding: 10px;

}
.bg-main
{
    background-image: linear-gradient(to bottom, rgb(255, 0, 98), #ffffff);
}
.header_1
{
    margin-left: 45px;
}
.header_down
{
    margin-top: 70px;
    margin-right: 20px;
}

.text-white
{
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.flex-between {

    display: flex;
    justify-content: space-between;
  
   
}
.item-1 {
    width: 300px;
    height: 200px;
    background: rgb(185, 80, 115);
    border-radius: 10%;
}
.item-2 {
    width: 300px;
    height: 200px;
    background-image: linear-gradient(to bottom, rgb(60, 20, 241), #2c0477a4);
    border-radius: 10%;
}
.item-3
{
    width: 300px;
    height: 200px;
    background-image: linear-gradient(to right, rgb(60, 20, 241), rgb(230, 40, 112));
    border-radius: 10%;
}
.text-pink
{
    --tw-text-opacity: 1;
    color: rgb(185, 80, 115, var(--tw-text-opacity));
}
.flex-stretch {
    display: grid;
    grid-row-gap: 15px;
    align-content: stretch;

}
.flex-end {
    display: grid;
    grid-template-rows: 20% 20% 20%;
    grid-row-gap: 15px;
    align-content: end;


}
.header {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgb(230, 40, 112), #a8a4a4);
}
.head
{
    margin: 0px 0.5%;
    width: 150px;
    height: 40px;
    background-image: linear-gradient(to bottom, rgb(230, 40, 112), #a8a4a4);
}
.head_2
{
    margin: 0px 25px;
    width: 300px;
    height: 40px;
    background-image: linear-gradient(to bottom, rgb(230, 40, 112), #a8a4a4);
}
.middle {
    display: flex;
    justify-content: center;
    margin: 1px;
    margin-left:50px;
    
}
.middle_2
{
    margin-right:250px; 
}
.middle_3
{
    margin-top:100px;
  
}
.flex
{

height:40px;
width: 100px;
border-radius: 5%;
}
.block
{
    margin:15px;
}
.foot
{
    margin:10px 15px;
    height:40px;

}
.left_block_1
{
    width:auto;
    margin-left:10px;
    height:auto;

}
.left_block_0
{
    margin-left:5px;


}