.main_bg
{
    background-color:rgb(80, 79, 79);
}
.head {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    

}
.head_logo
{
   margin:1% 20%;
}
.head_logo2
{
   margin:-4% 60%;
}