.main_bg
{
    background-color:rgb(80, 79, 79);
}
.head {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    
}
.head_logo
{
   margin:1% 10%;
}
.head_logo2
{
   margin:-5% 40%;
}
.item_1
{
    margin:2% 5%;
    width:1200px;
    background-color:rgb(49, 93, 236);
    border-radius: 2%;
}
.item_2
{
    margin:2% 0%;
    width:1200px;
    background-color:rgb(255, 255, 255);
    border-radius: -10%;
}
.nav_bar
{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    
    margin-left:2%;
    margin-top:1%;
}
.nav_bat
{
    background-image: linear-gradient(to bottom, rgb(105, 73, 245), #2d0577);
    margin:0% 1%;
    border-radius: 10%;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.search
{
    background-image: linear-gradient(to bottom, rgb(105, 73, 245), #2d0577);
    margin:0% 12%;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.big_head
{
    margin:2% 2%;
    
}
.small_head
{
    display: grid;
    grid-row-gap: 1px;
    align-content: stretch;
    
}
.text-white
{
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.zag
{
    background-color: rgb(49, 93, 236);
    margin:2% 2%;
    border-radius: 2%;
    --tw-text-opacity: 1;
    width:97%;
    
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.left_rec
{
    margin:1% 32%;
}
.left_rec_p
{
    margin-left:2%;
}
.left_nav
{
    margin:1% 27%;
}
.nav_b
{
    background-color: rgb(31, 63, 168);
}
.nav_bat_1
{
    border-radius: 2%;

    background-color: rgb(255, 255, 255);
}
.small_menu
{
    display: grid;
    grid-row-gap: 7px;
    align-content: stretch;
    width:95%;
    margin-left:1%;
}
.left_form
{
    margin:1% 20%;
}
.form
{
    width:50%;
}
.exsist
{
    margin-top:4%;
}
.button
{
    margin-left: 20%;
}
.text-small
{
    font-size: smaller;
}
.text-lefter
{
    margin-left:10%;
}
.border
{
    border: 2px solid #ccc;
}
.left_search
{
    margin:1% 40%;
}
.left_search_form
{
    margin:1% 24%;
}
.left_search_but
{
    margin:2% 38%;
}
.left_calendar
{
    margin:0% 18%;
}
.left_calendar_text
{
    margin:1% 34%;
}
.zag_middle
{
   
        background-color: rgb(49, 93, 236);
        margin:2% 0%;
        border-radius: 2%;
        --tw-text-opacity: 1;
        width:100%;
        height: 24px;
        color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.middle
{
    margin:0% 5%;
}
.middle_text
{
    margin: 0% ;
}